body {
    margin: 0;
    padding: 0;
    background-color: black;
}

iframe {
    margin-left: 5%;
}

div#header {
    height: 136px;
    background-color: white;
}

div#center {
    background-image: url(../images/fondo.jpg);
    height: 464px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

div#footer {
    background: black;
    height: 200px;
    font-family: "Courier New", Courier, monospace;
    color: yellow;
}

div.title {
    font-family: Impact, Charcoal, sans-serif;
    text-align: left;
    font-size: x-large;
    padding-left: 20px;
    color: darkcyan;
}

blink, .blink {
  -webkit-animation: blink 1s step-end infinite;
  -moz-animation: blink 1s step-end infinite;
  -o-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  67% { opacity: 0 }
}

@-moz-keyframes blink {
  67% { opacity: 0 }
}

@-o-keyframes blink {
  67% { opacity: 0 }
}

@keyframes blink {
  67% { opacity: 0 }
}

